AWS/terraform*
AWS/.terraform
AWS/terraform.tfstate
AWS/.DS_Store
GCP/terraform*
GCP/.terraform
GCP/terraform.tfstate
GCP/.DS_Stor
GCP/terraform.tfstate.backup
GCP/.terraform.tfstate.lock.info
GCP/terraform.tfstate
GCP-terraform-apply.output
AWS-terraform-apply.output
GCP/terraform.tfstate
GCP/terraform.tfstate.backup
